<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.aabagdi.MemoManContainer

iCloud.com.aabagdi.MemoMan

iCloud.com.aabagdi.MemoMan

d iCloud.com.aabagdi.MemoMan

iCloud.com.aabagdi.MemoMan

iCloud.com.aabagdi.MemoManContainer</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<string>YES</string>
			<key>NSUbiquitousContainerName</key>
			<string>MemoMan</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>ANY</string>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
